@charset "utf-8";
html{
    font-size: 62.5%;/* 16px * 62.5% = 10px */
}

body{
    background-color: #3e3e3e;
}

/* 中央寄せ */
#wrapper {
    width: 360px;
    min-height: 1000px;
	margin: 0 auto;
	background: #fff;
}

.topname{
    display: flex;
    padding: 10px 5px;
    align-items: center;
    margin: o o 10px o;
}

#atena{
    font-size: 1.2rem;
}

#user{
    font-size: 1.6rem;
}

.textarea{
    box-sizing: border-box;
    appearance: none;
    width: 360px;  
    resize: none;
    border: none;
    margin: o o 10px o;
}

.underscore{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    /* width: 100%; */
    /* margin: o o 10px o; */
}

.search-text{
    width: 200px;  
    appearance: none;
    display:50%;
    border: none;
}

.wordcounter{
    position: absolute;
    right: 10px;
    display:160px;
    text-align: right;
    padding: 10px 0;
}

dt{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 1px 0;
    /* border-top: solid 1px; */
    background-color: #c6cbd2;
}

dd{
    font-size: 1.3rem;
    line-height: 2;
    padding: 0 0 20px 10px;
    border-bottom: solid 1px #999999;
}

.output{
    margin: 20px 0 0 0;
}

/* ---------- button ---------- */

ul {
    appearance: none;
    table-layout: fixed;
	width: 360px;
    font-size: 3rem;
    margin: 30px auto 0;
    text-align: center;
}

.btn_wrapper{
    
    display: flex;
    /* margin: 0 0 20px 0; */
}

.btn{
    /* display: flex; */
    /* list-style-type: none; */
    text-decoration: none;
    width: 180px;
    /* display:50%; */
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    margin: 0   auto;
    transition: .3s;
    color: #4d4d4d;
    background-color: #c6cbd2;
}

li:hover {
    background: #0457cb;
    color: #fff;
}

/* ---------- button ---------- */
